.match-container {
  height: 70px;
  width: 330px;
  border-radius: 6px;
}

.player-container {
  padding-top: 10px;
  padding-left: 10px;
}

.player-name-container {
  float: left;
  width: 140px;
}

.set-container {
  float: left;
  width: 30px;
  text-align: right;
  padding-top: 5px;
}

.tiebreak-container {
  float: left;
  width: 10px;
  min-height: 1px;
  text-align: right;
  font-size: xx-small;
}

.next-player {
  clear: left;
}
