.tournament-container {
  margin-left: 20px;
  margin-top: 10px;
  hr {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
  }
}

.match-container-4rnd {
  margin-bottom: 20px;
}

.qf-container {
  hr {
    margin-bottom: 50px;
  }
}

.match-container-qf {
  margin-left: 20px;
  margin-bottom: 110px;
}

.sf-container {
  hr {
    margin-bottom: 140px;
  }
}

.match-container-sf {
  margin-left: 20px;
  margin-bottom: 290px;
}

.final-container {
  hr {
    margin-bottom: 320px;
  }
}

.match-container-final {
  margin-left: 20px;
}

.tournament-title {
  font-weight: bold;
  font-size: 24px;
}

.round-title {
  font-size: .85em;
  font-family: "Trebuchet MS"
}
