<div class="tournament-container">
  {{#each matches4Rnd as |match|}}
  <div class="match-container-4rnd">
    {{tournament-match
      match=match
      tournament=tournamentName
      }}
  </div>
  {{/each}}
  {{#each matchesQf as |match|}}
  <div class="match-container-qf">
    {{tournament-match
      match=match
      tournament=tournamentName
      }}
  </div>
  {{/each}}
</div>
