{{!-- --
{{#each model as |match|}}
  {{tournament-match match=match.currentMatch}} 
{{/each}}  
--}}

<label>City:</label><label>{{model.domainInvitation.city}}</label> 
<br />
<br />
<label>Player City:</label><label>{{model.playerInvitation.city}}</label> 
<br />
<label>Player Name:</label><label>{{model.playerInvitation.player.lastName}}</label> 
