.selectPlayer {
  width: 200px;
}

.selectTournament {
  width: 200px;
}

.selectPeriod {
  width: 160px;
}

.choiceContainer {
  padding-top: 20px;
}
.choiceContainer .md-button {
  margin-top: 15px;
  margin-left: 20px;
}
