{{#link-to "seeding" (query-params year="2015")}}
  Australian Open 2015 seedings
{{/link-to}}

{{#link-to "seeding" (query-params year="2016")}}
  Australian Open 2016 seedings
{{/link-to}}

{{#link-to "result" (query-params year="2016")}}
  Australian Open 2016 final
{{/link-to}}

{{#paper-autocomplete
  options=model.players
  label="Choose a player..."
  searchField="lastName"
  selected=selectedPlayer.lastName
  onSelectionChange=(action (mut selectedPlayer))
  as |player self|}}
  {{paper-autocomplete-highlight
    label=player.lastName
    searchText=self.searchText
    flags="i"}}
{{/paper-autocomplete}}

{{#paper-select
  label="Choose a tournament..."
  options=model.tournaments
  selected=myTournament
  onChange=(action (mut myTournament))
  as |tournament|}}
  {{tournament}}
{{/paper-select}}

<h1>Player list:</h1>
<ul>
  {{#each model as |person|}}
    <li>{{person.firstName}} {{person.lastName}}</li>
  {{/each}}
</ul>