.color-logo
{
  background-color: rgba(184,94,51, 1.0); 
}

.HomePageFontTekst
{  
  font: Helvetica;
  font-weight:600;      
  font-size: 24pt; 
  margin-left: 0px;
  font-style:italic;    
  color: White;
}

.HomePageFontSubTekst
{
  font: Helvetica;
  font-weight:500;      
  font-size: 10pt; 
  margin-left: 0px;
  font-style:italic;    
  color: White;
}
