.color-logo
{
  background-color: rgba(184,94,51, 1.0);
}

.HomePageFontTekst
{
  font: Helvetica;
  font-weight:600;
  font-size: 24pt;
  margin-left: 0px;
  font-style:italic;
  color: White;
}

.HomePageFontSubTekst
{
  font: Helvetica;
  font-weight:500;
  font-size: 10pt;
  margin-left: 0px;
  font-style:italic;
  color: White;
}

.color-roland-garros
{
  background-color: #F2DEDE;
}

.color-wimbledon {
  color: #658B47;
  background-color: #DFF0D8;
}

.color-us-open
{
  background-color: #D9EDF7;
}

.color-australian-open
{
  background-color: #FCF8E3;
}

.font-small {
  font-size: 13px;
}

.is-winner {
  font-weight: bold;
}

.has-lost {
  font-weight: normal;
}

a:link, a:visited {
	color: #006699;
	text-decoration: none;
}

a:hover, a:active {
	color: #006699;
	text-decoration: none;
}

a.player-link:link, a.player-link:visited, a.player-link:hover, a.player-link:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.color-australianopen
{
  background-color: rgba(255,204,102,.85);
}

md-toolbar {
  background-color: black !important;
  min-height: 40px;
  height: 40px;
}

md-toolbar .md-button {
  text-transform: none;
  font-weight: normal;
}

md-toolbar .md-button:hover {
  font-weight: 500;
}
