<div style="float:left">
  <img src="http://mymvdrstorageservice.blob.core.windows.net:80/tennis/djokovicVerySmall.png" width="363px" height="152px" />
</div>
<div style="height:152px;text-align:center;white-space:nowrap" class="color-logo">
  <div style="padding-top:50px">
    <label class="HomePageFontTekst">Tennis grand slams</label><br>
    <label class="HomePageFontSubTekst">match results and player statistics</label><br>
    <label class="HomePageFontSubTekst">21st century</label>
  </div>
</div>
{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-button onClick=(action "showHomePage")}}
        Home
    {{/paper-button}}
    {{#paper-button onClick=(action "showPlayerPage")}}
        Player
    {{/paper-button}}
    {{#paper-button}}
        Australian Open
    {{/paper-button}}
    {{#paper-button}}
        Roland Garros
    {{/paper-button}}
    {{#paper-button onClick=(action "showPlayerResults")}}
        Wimbledon
    {{/paper-button}}
    {{#paper-button}}
        US Open
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{outlet}}